body {
  background-color: #1a2a4b; }

.formContainer {
  border: none; }

.header {
  justify-content: center;
  margin: 25px 0 10px 0px; }
  .header__logo {
    margin: 0; }

.formContainer {
  padding: 0; }

.footerLogIn {
  height: auto;
  position: static;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 15px;
  background-color: transparent; }
  .footerLogIn p {
    margin-bottom: 10px; }
