* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 72.5%; }

body {
  background-color: #652bb1; }

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #652bb1; }
  .header .header__logo {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .header__logo .logo__image {
      width: 200px; }
  .header .header__menu {
    margin-right: 30px; }
    .header .header__menu .menu__profile {
      display: flex;
      align-items: center; }
    .header .header__menu img {
      width: 45px; }
    .header .header__menu img:hover {
      cursor: pointer; }
    .header .header__menu span {
      margin-left: 10px;
      font-size: 1.4rem;
      color: white; }
    .header .header__menu span:hover {
      cursor: pointer; }
    .header .header__menu .menu__profileOptions {
      display: none;
      position: absolute;
      padding: 0px;
      font-family: "Mulish", sans-serif;
      font-size: 1.4rem;
      list-style: none;
      text-align: right; }
    .header .header__menu li {
      margin: 8px 0; }
    .header .header__menu li:hover {
      text-decoration: underline; }
    .header .header__menu .item {
      text-decoration: none;
      color: white; }
  .header .header__menu:hover ul, .header ul:hover {
    display: block; }

.main {
  width: 100%;
  margin-top: 100px; }

.seeker {
  width: 100%;
  text-align: center;
  margin-bottom: 60px; }
  .seeker__title {
    padding: 10px 0 15px 0;
    font-family: "Mulish", sans-serif;
    font-size: 2rem;
    color: white; }
  .seeker__text {
    width: 700px;
    height: 37px;
    padding-left: 10px;
    border-radius: 15px;
    font-family: "Mulish", sans-serif;
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
    outline: none;
    background-color: #7233c5; }
  .seeker ::placeholder {
    color: white;
    font-size: 1.2rem; }

.categories__titles {
  width: 100%;
  padding: 0 30px;
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  color: white; }

.footerLogIn {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 0 0 0 30px; }
  .footerLogIn p {
    margin-right: 15px;
    font-size: 1.1rem; }
  .footerLogIn a {
    color: white;
    text-decoration: none; }
  .footerLogIn a:hover {
    text-decoration: underline; }
