* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #652bb1; }

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #652bb1; }
  .header .header__logo {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .header__logo .logo__image {
      width: 200px; }
  .header .header__menu {
    margin-right: 30px; }
    .header .header__menu .menu__profile {
      display: flex;
      align-items: center; }
    .header .header__menu img {
      width: 45px; }
    .header .header__menu img:hover {
      cursor: pointer; }
    .header .header__menu span {
      margin-left: 10px;
      color: white; }
    .header .header__menu span:hover {
      cursor: pointer; }
    .header .header__menu .menu__profileOptions {
      display: none;
      position: absolute;
      padding: 0px;
      font-family: "Mulish", sans-serif;
      list-style: none;
      text-align: right; }
    .header .header__menu li {
      margin: 8px 0; }
    .header .header__menu li:hover {
      text-decoration: underline; }
    .header .header__menu .item {
      text-decoration: none;
      color: white; }
  .header .header__menu:hover ul, .header ul:hover {
    display: block; }
