*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar {
        display: none;
    }
}

$generalFont: 'Mulish', sans-serif;

.carousel{
    width: 100%;
    position: relative;
    overflow: scroll;
    padding: 30px;
    // border: 1px solid black;
    &__containerImages{
        width: 100%;
        margin: 70px 0;
        // padding-bottom: 10px;
        white-space: nowrap;
        // border: 1px solid black;
    }
    &__galeryItem{
        display: inline-block;
        width: 210px;
        height: 270px;
        margin: 0 5px;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        transition: 450ms ease-in-out;
        transform-origin: left to right;
        background-color: rgb(40, 131, 206);
    }
    &__galeryImage{
        width: 210px;
        height: 270px;
        object-fit: cover;
    }
    &__galeryGradient{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 15px 10px;
        font-size: 1rem;
        opacity: 0;
        transition: 450ms ease-in-out opacity;
        background: linear-gradient(to top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
    }
    &__galeryGradient:hover{
        opacity: 1;
    }
    &__galeryIcons{
        margin-bottom: 5px;
        .galeryIconItem{
            width: 24px;
        }
    }
    
    .galeryTitle{
        font-family: $generalFont;
        font-size: 1rem;
        color: white;
    }
    .galeryDescription{
        font-family: $generalFont;
        font-size: .8rem;
        color: white;
    }

    .carousel__containerImages:hover .carousel__galeryItem{
        opacity: .3;
    }
    .carousel__containerImages:hover .carousel__galeryItem:hover{
        transform: scale(1.25);
        opacity: 1;
    }
    .carousel__galeryItem:hover ~ .carousel__galeryItem{
        transform: translateX(50px);
    }

}