*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables

$generalFont: 'Mulish', sans-serif;
$mainColor: #652bb1;
$secondColor: #7233c5;

html{
    font-size: 72.5%;
}

body{
    height: 100vh;
    font-family: $generalFont;
    background-color: rgb(26, 42, 75);
}

// Header Styles

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background-color: transparent;

    &__logo{
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo__image{
            width: 200px;
        }
    }

}

// Main Styles

.mainLogIn{
    width: 100%;
}

//Form Container Styles

.formContainer{

    width: 100%;
    min-width: 250px;
    max-width: 280px;
    height: 420px;
    margin: 0 auto;
    padding: 0 40px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: transparent;  

    &__title{
        width: 100%;
        margin: 50px 0 30px 0;
        font-size: 1.8rem;
        color: white;
    }

    &__dataInputs{
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 5px;
        border: none;
        border-bottom: 2px solid white;
        background-color: transparent;
        color: rgb(255, 255, 255);
        outline: none;
    }

    &__logIn{
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
        border:  none;
        border-radius: 20px;
        font-size: 1.2rem;
        text-align: center;
        cursor: pointer;
        transition: 200ms ease-in-out;
        color: white;
        background-color: rgba(62, 106, 150, 0.644);
    }

    &__logIn:active{
        transform: scale(.9);
    }

    &__optionsLoginContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        font-size: 1rem;
        color: white;
    }

    &__rememberOption input{
        margin-right: 3px;
        border: none;
        border-radius: 5px;
        background-color: transparent;
    }

    &__forgetOption a{
        color: white;
        text-decoration: none;
    }

    &__forgetOption:hover{
        text-decoration: underline;
    }

    &__logSocialMedia{
        width: 100%;
        display: flex;
        align-items: center;

        .googleLogo{
            width: 22px;
            margin-right: 8px;
        }
    
        .twitterLogo{
            width: 20px;
            margin-right: 8px;
        }

        a{
            color: white;
            text-decoration: none;
        }

        a:hover{
            text-decoration: underline;
        }
    }  
    &__signIn{
        width: 100%;
        color: white;
        & a{
            color: white;
        }
    }

}

::placeholder{
    color: white;
    font-size: 1.2rem;
    padding: 0 0 0 10px;
    opacity: .5;
}

.google{
    margin-bottom: 10px;
} 

.twitter{
    margin-bottom: 35px;
} 


//Footer Styles

.footerLogIn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 0 0 30px;
    & p{
        margin-right: 15px;
        font-size: 1.1rem;
    }
    & a{
        color: white;
        text-decoration: none;
    }
    & a:hover{
        text-decoration: underline;
    }
}




