*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables

$generalFont: 'Mulish', sans-serif;
$mainColor: #652bb1;
$secondColor: #7233c5;

html{
    font-size: 72.5%;
}

body{
    background-color: $mainColor;
}

// Header Styles

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainColor;

    .header__logo{
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo__image{
            width: 200px;
        }
    }
    

    .header__menu{
        margin-right: 30px;
        
        .menu__profile{
            display: flex;
            align-items: center;
        }
        & img {
            width: 45px;
        }
        & img:hover{
            cursor: pointer;
        }
        & span{
            margin-left: 10px;
            font-size: 1.4rem;
            color: white;
        }
        & span:hover{
            cursor: pointer;
        }
    
        .menu__profileOptions{
            display: none;
            position: absolute;
            padding: 0px;
            font-family: $generalFont;
            font-size: 1.4rem;
            list-style: none;
            text-align: right;
        }
        & li{
            margin: 8px 0;
        }
        & li:hover{
            text-decoration: underline;
        }
        & .item{
            text-decoration: none;
            color: white;
        }

    }

    .header__menu:hover ul, ul:hover{
        display: block;
    }

}

// Main Styles

.main{
    width: 100%;
    margin-top: 100px;
}

// Seeker Styles

.seeker{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    &__title{
        padding: 10px 0 15px 0;
        font-family: $generalFont;
        font-size: 2rem;
        color: white;
    }
    &__text{
        width: 700px;
        height: 37px;
        padding-left: 10px;
        border-radius: 15px;
        font-family: $generalFont;
        font-size: 1.2rem;
        color: white;
        border: 2px solid white;
        outline:  none;
        background-color: $secondColor;
    }
    ::placeholder {
        color: white;
        font-size: 1.2rem;
    }
}

.categories__titles{
    width: 100%;
    padding: 0 30px;
    font-size: 1.8rem;
    font-family: $generalFont;
    color: white;
}

.footerLogIn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    // position: absolute;
    bottom: 0;
    padding: 0 0 0 30px;
    & p{
        margin-right: 15px;
        font-family: $generalFont;
        font-size: 1.1rem;
    }
    & a{
        color: white;
        text-decoration: none;
    }
    & a:hover{
        text-decoration: underline;
    }
}

